footer {
    text-align: center;
    margin-top: 30px;
}

table {
    margin: auto;
    margin-top: 30px;
    background-color: black;
    border-radius: 3px;
}

.cell {
    background-color: #7892c2;
    /* background-color: hwb(219 15% 31%); */
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 28px;
}

.shown {
    background-color: aliceblue;
}

.safecell {
    background-color: hsl(182, 79%, 21%);
}

.explosion {
    background-color: hsl(256, 88%, 3%);
}

footer {
    font-size: 30px;
}

.smily {
    background-color: aliceblue;
    padding: 10px 30px;
    border-radius: 10px;
    display: block;
    font-size: 60px;
    margin: auto;
    cursor: pointer;
}

.levels {
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: block;
    cursor: pointer;
    margin: auto;
    width: 360px;
    color: aliceblue;
    font-family: Arial;
    font-size: 19px;
    display: block;
    text-align: center;
    margin-top: 20px;
}


.levels button {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border: 0.1px black solid;
    background: rgb(255, 255, 255);
    margin: 20px 10px;
    cursor: pointer;
}

.hint {
    background-color: aliceblue;
    height: 70px;
    width: 140px;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px;
}

.safeclick {
    background-color: aliceblue;
    height: 70px;
    width: 140px;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px;
}

.timer {
    background-color: aliceblue;
    border-radius: 10px;
    height: 70px;
    width: 140px;
    margin: 30px;
}

.preparation {
    background-color: aliceblue;
    border-radius: 10px;
    height: 70px;
    width: 140px;
    margin: 30px;
}